

#loader-area{
    height: 100%;
    width: 100%;
    background: black;
}

.loader-r{
    position: absolute;
    left: 30px;
    top: 300px;
    transform: rotateX(75deg);
}

.animation-r{
    position: absolute;
    /* border-radius: 100%; */
    border: 9px solid black;
    /* float: left; */
    /* background: transparent; */
    /* overflow: hidden; */
    animation: emran .9s ease-in-out  infinite alternate;
}







.animation-r:nth-child(1){
    margin: 0 290px;
    height: 10px;
    width: 10px;
    animation-delay: 100ms;
    z-index: -1;
    border-color: maroon;
}


.animation-r:nth-child(2){
    margin: 0 285px;
    height: 20px;
    width: 20px;
    animation-delay: 200ms;
    z-index: -2;
    border-color: rgb(255, 17, 17);
}

.animation-r:nth-child(3){
    margin: 0 280px;
    height: 30px;
    width: 30px;
    animation-delay: 300ms;
    z-index: -3;
    border-color: rgba(17, 255, 49, 0.897);
}

.animation-r:nth-child(4){
    margin: 0 275px;
    height: 40px;
    width: 40px;
    animation-delay: 400ms;
    z-index: -4;
    border-color: rgba(23, 112, 35, 0.897);
}

.animation-r:nth-child(5){
    margin: 0 270px;
    height:50px;
    width: 50px;
    animation-delay: 500ms;
    z-index: -5;
    border-color: rgba(57, 12, 161, 0.897);
}

.animation-r:nth-child(6){
    margin: 0 265px;
    height:60px;
    width: 60px;
    animation-delay: 600ms;
    z-index: -6;
    border-color: rgba(8, 255, 49, 0.897);
}


.animation-r:nth-child(7){
    margin: 0 260px;
    height:70px;
    width: 70px;
    animation-delay: 700ms;
    z-index: -7;
    border-color: rgba(234, 8, 255, 0.897);
}


.animation-r:nth-child(8){
    margin: 0 255px;
    height:80px;
    width: 80px;
    animation-delay: 800ms;
    z-index: -8;
    border-color: rgba(255, 8, 8, 0.897);
}

.animation-r:nth-child(9){
    margin: 0 250px;
    height:90px;
    width: 90px;
    animation-delay: 900ms;
    z-index: -9;
    border-color: rgba(124, 18, 18, 0.897);
}

.animation-r:nth-child(10){
    margin: 0 245px;
    height:100px;
    width: 100px;
    animation-delay: 1000ms;
    z-index: -10;
    border-color: rgba(122, 6, 6, 0.897);
}

.animation-r:nth-child(11){
    margin: 0 240px;
    height:110px;
    width: 110px;
    animation-delay: 1100ms;
    z-index: -11;
    border-color: rgba(6, 76, 122, 0.897);
}


.animation-r:nth-child(12){
    margin: 0 235px;
    height:120px;
    width: 120px;
    animation-delay: 1200ms;
    z-index: -12;
    border-color: rgba(14, 6, 122, 0.897);
}


.animation-r:nth-child(13){
    margin: 0 230px;
    height:130x;
    width: 130px;
    animation-delay: 1300ms;
    z-index: -13;
    border-color: rgba(21, 4, 255, 0.897);
}


.animation-r:nth-child(14){
    margin: 0 225px;
    height:140x;
    width: 140px;
    animation-delay: 1400ms;
    z-index: -14;
    border-color: rgba(17, 0, 255, 0.897);
}

.animation-r:nth-child(15){
    margin: 0 220px;
    height:150x;
    width: 150px;
    animation-delay: 1500ms;
    z-index: -15;
    border-color: rgba(12, 2, 148, 0.897);
}


.animation-r:nth-child(16){
    margin: 0 215px;
    height:160x;
    width: 160px;
    animation-delay: 1600ms;
    z-index: -16;
    border-color: rgba(15, 0, 226, 0.897);
}

.animation-r:nth-child(17){
    margin: 0 210px;
    height:170x;
    width: 170px;
    animation-delay: 1700ms;
    z-index: -17;
    border-color: rgba(0, 163, 54, 0.897);
}




.animation-r:nth-child(18){
    margin: 0 205px;
    height:180x;
    width: 180px;
    animation-delay: 1800ms;
    z-index: -18;
    border-color: rgba(7, 255, 90, 0.897);
}



.animation-r:nth-child(19){
    margin: 0 200px;
    height:190x;
    width: 190px;
    animation-delay: 1900ms;
    z-index: -19;
    border-color: rgba(7, 255, 19, 0.897);
}


.animation-r:nth-child(20){
    margin: 0 195px;
    height:200px;
    width: 200px;
    animation-delay: 2000ms;
    z-index: -20;
    border-color: rgba(201, 255, 7, 0.897);
}

.animation-r:nth-child(21){
    margin: 0 190px;
    height:210px;
    width: 210px;
    animation-delay: 2100ms;
    z-index: -21;
    border-color: rgba(255, 7, 7, 0.7);
}



.animation-r:nth-child(22){
    margin: 0 185px;
    height:220px;
    width: 220px;
    animation-delay: 2200ms;
    z-index: -22;
    border-color: rgba(255, 98, 7, 0.7);
}


.animation-r:nth-child(23){
    margin: 0 180px;
    height:230px;
    width: 230px;
    animation-delay: 2300ms;
    z-index: -23;
    border-color: rgba(255, 7, 222, 0.7);
}



.animation-r:nth-child(24){
    margin: 0 175px;
    height:240px;
    width: 240px;
    animation-delay: 2400ms;
    z-index: -24;
    border-color: rgba(255, 7, 222, 0.486);
}

.animation-r:nth-child(25){
    margin: 0 170px;
    height:250px;
    width: 250px;
    animation-delay: 2500ms;
    z-index: -25;
    border-color: rgba(155, 33, 139, 0.486);
}


.animation-r:nth-child(26){
    margin: 0 165px;
    height:260px;
    width: 260px;
    animation-delay: 2600ms;
    z-index: -26;
    border-color: rgb(255, 2, 221);
}

.animation-r:nth-child(27){
    margin: 0 160px;
    height:270px;
    width: 270px;
    animation-delay: 2700ms;
    z-index: -27;
    border-color: rgb(245, 54, 219);
}


.animation-r:nth-child(28){
    margin: 0 155px;
    height:280px;
    width: 280px;
    animation-delay: 2800ms;
    z-index: -28;
    border-color: rgb(189, 83, 175);
}

.animation-r:nth-child(29){
    margin: 0 150px;
    height:290px;
    width: 290px;
    animation-delay: 2900ms;
    z-index: -29;
    border-color: rgb(243, 0, 81);
}

.animation-r:nth-child(30){
    margin: 0 145px;
    height:300px;
    width: 300px;
    animation-delay: 3000ms;
    z-index: -30;
    border-color: rgb(255, 53, 3);
}










@keyframes emran{
    0%{transform: translateY(0px);}
    100%{transform: translateY(200px);}
}